.github
coverage
examples
node_modules
tests
.env
.env.base
.env.interpolate
.env.test
.eslintignoreenv
.eslintrc
.gitignore
.npmignore
.npmrc
.prettierignore
.prettierrc
compress.ts
UPDATES.md
jest.json
envLogo.png
tsconfig.build.json
tsconfig.json
npm-debug.*
*.log
*.lock
